.button-group {
    text-align: center;
}
.tableRow {
	overflow-y: scroll;
}
.bg-info {
	padding: 15px;
	position: relative;
}
i.fa-times {
	font-size: 18px;
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}